<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- properties common   -->
    <property name="LOGGER.OUTPUT" value="E:\\"/> <!-- set value = path directory write log    -->
    <property name="PROJECT.NAME" value="server-admin"/>
    <springProfile name="dev">
        <property name="log.server.level" value="INFO"/>
    </springProfile>
    <springProfile name="prod">
        <property name="log.server.level" value="INFO"/>
    </springProfile>

    <!-- Console Appender Configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender Configuration -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGER.OUTPUT}/${PROJECT.NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGGER.OUTPUT}/${PROJECT.NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Develop environment-->
    <springProfile name="dev">
        <!-- Logger configuration for a specific package -->
        <!--    <logger name="com.your.package" level="DEBUG" additivity="false">-->
        <!--        <appender-ref ref="CONSOLE"/>-->
        <!--        <appender-ref ref="FILE"/>-->
        <!--    </logger>-->
        <root level="${log.server.level}">
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="FILE"/>-->
        </root>
    </springProfile>

    <!-- Product environment-->
    <springProfile name="prod">
        <root level="${log.server.level}">
            <appender-ref ref="FILE"/>
<!--            <appender-ref ref="CONSOLE"/>-->
        </root>
    </springProfile>
</configuration>
<!--        %d{pattern}: Hiển thị ngày và thời gian. pattern là định dạng thời gian theo kiểu SimpleDateFormat.-->
        <!--        Ví dụ: %d{yyyy-MM-dd HH:mm:ss.SSS} sẽ hiển thị thời gian theo định dạng 2024-05-24 14:55:32.123.-->

<!--        %level hoặc %p: Hiển thị mức độ log (level) như DEBUG, INFO, WARN, ERROR.-->

<!--        %logger hoặc %c: Hiển thị tên của logger. Có thể thêm tùy chọn để giới hạn độ dài tên logger.-->
        <!--        Ví dụ: %logger{10} sẽ giới hạn tên logger tối đa 10 ký tự.-->

<!--        %thread hoặc %t: Hiển thị tên của thread thực hiện log.-->

<!--        %msg hoặc %m: Hiển thị thông điệp log.-->

<!--        %n: Hiển thị ký tự xuống dòng (new line).-->

<!--        %C: Hiển thị tên lớp đầy đủ (fully qualified class name) của logger.-->

<!--        %M: Hiển thị tên phương thức (method name) gọi logger.-->

<!--        %L: Hiển thị số dòng (line number) trong file nguồn gọi logger.-->

<!--        %F: Hiển thị tên file nguồn gọi logger.-->

<!--        %r: Hiển thị thời gian tính bằng milliseconds kể từ khi JVM bắt đầu.-->

<!--        %ex{short} hoặc %exception{short}: Hiển thị thông tin về ngoại lệ (exception). Tùy chọn {short} có thể được thay đổi để điều khiển mức độ chi tiết của thông tin ngoại lệ.-->